*{
margin: 0;
padding: 0;
box-sizing: border-box;
}


@font-face {
font-family: 'Heavy';
src: url('font/AwanZaman-Heavy.ttf');
}


body{
display: flex;
min-height: 100vh;
justify-content:center;
align-items: center;
background-color: hsl(212, 45%, 89%);
}


.qr_code{
display: flex;
flex-direction: column;
align-items: center;
background-color: #fff;
border-radius: 15px;
padding: 15px 20px 30px;
max-width: 340px;
text-align: center;
}


.qr_code img{
width: 300px;
height: 100%;
display: block;
border-radius: 15px;
}


/*Quando si aggiunge il padding a un'immagine con un bordo arrotondato, il padding viene 
aggiunto all'interno del bordo. Ciò può causare l'angolazione delle immagini anziché l'arrotondamento. 
Per mantenere gli angoli arrotondati, puoi provare ad aggiungere il padding a un elemento genitore dell'immagine
o utilizzare la proprietà CSS `box-sizing: border-box;` sull'elemento immagine.*/

.qr_code .first_p {
margin-top: 15px;
text-align: center;
font-size: 30px;
font-weight: bold;
max-width: 260px;
font-family: 'Heavy';
color: rgba(0, 0, 0, 0.842);

}

.qr_code .second_p {
margin-top: 15px;
text-align: center;
font-size: 20px;
max-width: 255px;
font-family: 'Heavy';
color: rgba(0, 0, 0, 0.384);
font-weight: 100;

}





